@()
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">*@
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">*@
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/pharbers_icon.ico")">


<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/application/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/home/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/rsinformation/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/report/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/start/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/transition/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/login/style.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/version_2/model/summary/style.css")">
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/dataTables.bootstrap.min.css")">*@

@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/font-awesome.css")">*@
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/ionicons.css")">*@
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/skins/skin-blue.min.css")">*@
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/AdminLTE.css")">*@
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/AdminLTE/counteract-bootstrap.css")">*@
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/layer/layer.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/layer/skin/pskin/style.css")">
@*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/pageCss/index.css")">*@